<div class="content">
  <div class="menu">
    <h1>Transactions</h1>

    <%= render 'form', movement_account: @movement_account %>
    <div class="link">
      <%= link_to 'Back', movement_accounts_path %>
    </div>
  </div>
</div>